/*

@Carl: we are using this to visual test along with the JS stuff

*/

#boxes-box-javascript_playground {
  background: #f7efd8;
  padding: 15px;
  border: 5px solid black;
}

.super-red {
  background: indianred !important;
}

.border-yellow {
  border: 2px solid yellow !important;
}

div.peaches .organ {
  border: 1px dashed black;
  padding: 3px 20px;
}