/*

@Carl: we are using this to visual test along with the JS stuff

*/

#boxes-box-javascript_playground {
  background: #f7efd8;
  padding: 15px;
  border: 5px solid black;
}

.super-red {
  background: indianred !important;
}

.border-yellow {
  border: 2px solid yellow !important;
}

div.peaches .organ {
  border: 1px dashed black;
  padding: 3px 20px;
}

div.question {
  background: greenyellow;
  width: 95%;
  padding: 16px;
  border: 1px crimson;
}

div.answer {
  background: coral;
  width: 95%;
  padding: 16px;
  border: 1px crimson;
}

div.IamProgress {
  width: 100%;
  height: 50px;
  border: 1px solid brown;
  float: left;
  background: white;
  > div {
    width: 21%;
    height: 50px;
    float: left;
    padding: 20px 2%;
    text-align: center;
  }
}


div.IamTooltip {
  // todo: add code here
}