/* Master Reset*/
* { /* #1 */
    margin: 0;
    padding: 0;
    vertical-align:baseline;
    box-sizing: border-box;
}

body {
    background-color: #0F4DA8;
}
/* mobile */
/*@media screen and (max-width: 767px) {*/
    header {
        position: fixed; /* holds the header to the top of the screen */
        background-color: #FF4100;
        width: 100%;
        z-index: 3;
    }
    #id {
        color: aliceblue;
    }
    .content { /* #3 */
        background-color: #0F4DA8;
        padding: 1.041667%; /* 8px/768px */
        width: 100%;
        position: relative; /* forces the picture below the header */
        top: 96px;
        overflow: auto;
    }
    .content img {
        max-width: 100%;
        width: 87.5%; /* 280px/320px */
        padding: 1.041667%; /* 8px/768px */
        border: black solid 1px;
        display: block;
        margin: auto;
    }
    .content b {
        position: inherit; /* applies the CSS position from the parent class */
        text-align: center;
        margin: auto;
    }

    aside { /* #5 */
        background-color: #FFDA00;
        padding: 1.041667%; /* 8px/768px */
        width: 100%;
    }
    a:visited { /* #6 */
        color: #FF4100;
    }
    a:link {
        color: #67E300;
    }
    aside img { /* #4 */
        position: absolute; /* holds the image at a specific location on the page */
        z-index: 2;
        opacity: 0.4;
        right: 0;
        width: 78.125%; /* 250px/320px */
        max-width: 100%;
    }
    table {
        position: relative;
        text-align: center;
    }
    thead {
        font-style: italic;
        color: #0F4DA8;
    }
    footer {
        background-color: #FF8773;
        width: 100%;
        clear: both;
        height: 70px;
        text-align: center;
        padding-top: 5px;
        position: relative; /* z-index needs a relative position to work */
        z-index: 8;
    }
    h2 + p {
        color: #67E300; /* #7 */
    }
    tbody ~ td { /* #9 */
        color: aliceblue;
    }
    td {
        padding: 3px;
    }
    td > a { /* #8 */
        text-decoration: none;
    }
    a[href*="image"] { /* #12 */
        color: #67E300;
    }
    a[href^="htt"] { /* #13 */
        background-color: aliceblue;
    }
    a[data-filetype="image"] { /* #15 */
        font-size: 1.2em;
    }
    a[href$=".jpg"]:hover { /* #14 & #19 */
        background-color: lightgray;
    }
    img[data-info~="internal"] { /* #16 */
        border: dashed;
    }
    img[alt] { /* #10 */
        border: 2px solid black;
    }
    input[type=radio]:checked { /* #17 */
        color: #FF4100;
        padding: 2px;
    }
    form:before { /* #18 */
        content: "cheeses";
    }
    a:not(.pixar) { /* #20 */
        font-weight: bold;
    }
    p::first-letter { /* #21 */
        font-weight: bold;
        font-size: 2em;
    }
    tr:nth-child(2) { /* #22 */
        background-color: #FF8773;
    }
    tr:nth-last-child(2) { /* #23 */
        background-color: #FF8773;
    }
/* non-mobile */
@media screen and (min-width: 768px) {
    .content {
        width: 59.895833%; /* 460px/768px */
        padding: 1.041667%; /* 8px/768px */
        float: left;
    }
    .content img {
        max-width: 100%;
    }
    aside {
        width: 34.895833%; /* 268px/768px */
        padding: 1.041667%; /* 8px/768px */
        float: right;
    }
    aside img {
        top: 30%;
    }
    footer {
        clear: both;
    }
}
/* tablet portrait */
@media only screen
and (min-width: 768px)
and (max-width: 1024px)
and (orientation: portrait) {
    footer {
        background-color: #6A94D4; /* used this to identify what media queries are taking affect  */
    }
}

/* tablet Landscape */
@media only screen
and (min-width: 768px)
and (max-width: 1024px)
and (orientation: landscape) {
    footer {
        background-color: #67E300;
    }
}

/* common desktop */
@media only screen
and (min-width: 960px) {
 footer {
     background-color: #FFE340;
 }
}